ion-content {
    ion-fab {

        height:  20%;
    }

    ion-grid {

        ion-col {

            ion-card {

                width: 98%;
                height: auto;
                left: -12px;
                background: linear-gradient(125.71deg, #FFFFFF 1.46%, rgba(255, 255, 255, 0.471415) 98.63%, rgba(255, 255, 255, 0) 100%), rgba(20, 0, 255, 0.14);
                box-shadow: 0px 4px 4px rgba(0, 1, 0, 1.25);
                border-radius: 7px;
                color: black;
                h4 {
                    position: relative;
                    width: 90%;
                    left: 10px;
                    font-size: 15px;
                }

                p {
                    position: relative;
                    left: 10px;
                    font-size: 25px;
                    color: red;
                    bottom: auto;
                }

                ion-button {
                    position: relative;
                    left: 60%;
                    width: 50px;
                    height: 20px;
                    bottom: auto;
                    font-size: 10px;
                } 

                ion-thumbnail {
                    position: relative;
                        
                    width: 180px;
                    height: 100px;
                    bottom: auto;
                    
                    
                    img {}
                }
            }
        }
    }
}