ion-content {
    ion-card {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 85px;
        color: black;
        border: double;
        font-size: 25px;

    }
}